---
---
$background-color: #05060a;
$text-color: #b8c2d9;
$brand-color: #6c63ff;
$link-base-color: #8a7fff;
$link-base-color: #a89cc8;
$link-visited-color: #b3a3c4;

@import "minima";

.rss-subscribe {
  display: none;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.legend-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
