---
---
$brand-color: #999999;
$text-color: #bbbbbb;
$background-color: #181818;
$code-background-color: #212121;
$link-base-color: #79b8ff;
$link-visited-color: #79b8ff;

@import "minima";

.rss-subscribe {
  display: none;
}
